<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credits</title>
    <link rel="stylesheet" href="/static/css/chs-desktop-credit.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</head>
    <body>
    <br>
    <form method="POST">
        <button class="bakc" value="BACK" name="back"><a href="index.html"><ion-icon name="arrow-back-outline"></ion-icon></a></button>
    </form>
    
        <article id="cred">
            <p><h1>CREDITS</h1>
                  program code in Python by <br> <br>
                <table class="table">
                    <tr>
                        <td></td>
                        <td id="hustensaft">critiqalfish</td>

                    </tr>
                </table>
            <br>

            Links:
            <table class="links">
                <tr>
                    <td><a href="https://github.com/critiqalfish"><ion-icon name="logo-github"></ion-icon></a>&nbsp;</td>
                    <td><button onclick="copy1()"><ion-icon name="logo-discord"></ion-icon></button>&nbsp;</td>
                </tr>
            </table>
              <br><br>
            <hr>
              Website made with HTML5 and CSS3 by <br> <br>

                <table class="table">
                    <tr>
                        <td></td>
                        <td id="coffee">137-Trimethylxanthin</td>
                    </tr>
                </table>
            <br>
            Links:
            <table class="links">
                <tr>
                    <td><a href="https://github.com/137-Trimethylxanthin"><ion-icon name="logo-github"></ion-icon></a>&nbsp;</td>
                    <td><button onclick="copy2"><ion-icon name="logo-discord"></ion-icon></button>&nbsp;</td>
                    <td><a href="https://max.fisheye.at/"><ion-icon name="aperture-outline"></ion-icon></a></td>
                </tr>
            </table>

              <br>
              <br>
            </p>
        </article>


        <script src="/static/JavaScript/helpme.js"></script>
    </body>
</html>