<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>FUKA YOU</title>
    <link rel="stylesheet" href="/static/css/chs-desktop.css">
</head>
    <body>

        <div id="box">
            <header>
                <h1 id="ueber">MEGADROPZFUCKER</h1>
            </header>
            <section>
                <form method="POST">
                    <div id="porn">
                        <input type="link" name="submit_link" placeholder="link from the telegram channel below">
                    </div>
                    <div id="bts">
                        <button type="submit" value="SUBMIT" name="submit">SUBMIT</button>
                    </div>
                </form>
            </section>
        </div>

        <section>
            <div id="box2">
                    <a href="https://t.me/s/mgdpz">
                        <table>
                            <tr>
                                <td valign="top"><img src="/static/svg-png/md.jpg" alt="NEGA" ></td>
                                <td valign="middle"><h2> - MEGADROPZ -</h2></td>
                            </tr>
                        </table>
                    </a>
            </div>
        </section>

        <div id="boxlast">
            <footer style="text-align: center;">
                <form method="POST">
                    <a href="credits.html">
                        <button class="credit" value="CREDITS" name="credits">
                            Credits
                        </button>
                    </a>
                </form>
            </footer>
        </div>
    </body>
</html>